@font-face {
    font-family: satochi;
    src: url("fonts/satochi/Satoshi-Regular.otf");
}

@font-face {
    font-family: quantifyRegular;
    src: url("fonts/quantify/Quantify.ttf");
    font-weight: 900;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.All-btn {
    font-family: quantifyRegular;
    font-family: 100;
    text-transform: uppercase;
    word-spacing: 1px;
    color: white;
    border: 1px solid white;
    padding: 18px 30px;
    letter-spacing: 1px;
}

.header-section {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.header-section .left {
    width: 100%;
    padding: 0 120px;
    position: relative;
}

.header-section .right {
    background: linear-gradient(330deg, rgba(107, 0, 149, 1) 0%, rgba(169, 0, 87, 1) 100%);
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.header-section .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.header-section .nav .logo,
.footer .footer-main-con .footer-content .logo {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #6B0095;
}

#close {
    display: none;
}

.mbl {
    display: none;
}

.header-section .nav .nav-menu {
    display: flex;
    gap: 30px;
}

.header-section .nav .nav-menu .nav-menu-li {
    list-style-type: none;
    font-family: satochi;
    cursor: pointer;
}

.header-section .nav .transparent {
    background-color: transparent;
}

.header-section .hero .hero-text {
    position: relative;
}

.header-section .hero .hero-text .top-para {
    font-family: satochi;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.header-section .left .hero .hero-text .small-star {
    width: 35px;
    margin-bottom: 50px;
    margin-left: 80px;
    height: 35px;
}

.header-section .left .hero .hero-text .small-star-2 {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 0;
}

.header-section .hero .hero-text .hero-head,
.header-section .hero .hero-text .hero-head-2,
.header-section .hero .hero-text .hero-head-3 {
    font-family: quantifyRegular;
    font-size: 70px;
    text-transform: uppercase;
}

.header-section .hero .hero-text .hero-head::after {
    content: "";
    background-image: url("img/star.png");
    padding: 35px;
    margin-left: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: rotate;
}

@keyframes rotate {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

.header-section .hero {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section .hero .hero-text {
    width: 50%;
}

.header-section .hero .hero-text .hero-head-2::before {
    content: "";
    background-image: url("img/arrow-1.png");
    padding: 35px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 25px 0 30px;
}

.hero-text-sm {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-text-sm .circle-bar {
    border: 1px solid #000;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    height: 55px;
    width: 230px;
    padding: 5px 8px;
}

.hero-text-sm .circle-bar .circle-bar-gradient {
    background: linear-gradient(330deg, rgba(107, 0, 149, 1) 0%, rgba(169, 0, 87, 1) 100%);
    width: 42px;
    height: 100%;
    transition: all 0.5s;
    border-radius: 50px;
}

.hero-text-sm .circle-bar .circle-bar-gradient:hover {
    width: 100%;
}

.header-section .hero .hero-text .hero-para {
    font-family: satochi;
    max-width: 460px;
    margin-top: 10px;
    font-size: 16px;
}

.header-section .hero .hero-text .hero-btn,
.aboutUs .aboutUs-container .aboutUs-content .aboutUs-btn,
.form .form-btn {
    background: linear-gradient(330deg, #5600a9 0%, rgba(169, 0, 87, 1) 100%);
    border: 0;
    margin-top: 30px;
    cursor: pointer;
    transition: all 1s e ase;
}

.header-section .hero .hero-text .hero-btn:hover,
.aboutUs .aboutUs-container .aboutUs-content .aboutUs-btn:hover,
.form .form-btn:hover {
    background: linear-gradient(330deg, rgba(169, 0, 87, 1) 0%, #5600a9 100%);
}

.header-section .hero .hero-img {
    position: absolute;
    width: 50%;
    right: 0;
    top: 65px;
}

.header-section .hero .hero-img .right-house {
    width: 100%;
}


/* sponserd section  */

.sponserd {
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 60px;
    gap: 70px;
}

/* aboutUS section */

.aboutUs {
    width: 100%;
    position: relative;
}

.aboutUs .aboutUs-pink-layer {
    width: 100%;
    height: 100%;
    background-color: #f6e0ff36;
    position: absolute;
    z-index: -1;
}

.aboutUs .aboutUs-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    padding: 80px 0;
}

.aboutUs .aboutUs-container .aboutUs-img {
    width: 40%;
    z-index: -2;
}

.aboutUs .aboutUs-container .aboutUs-img .left-house {
    width: 100%;
}

.aboutUs .aboutUs-container .aboutUs-content {
    width: 60%;
}

.aboutUs .aboutUs-container .aboutUs-content .aboutUs-head1,
.aboutUs .aboutUs-container .aboutUs-content .aboutUs-head2,
.aboutUs .aboutUs-container .aboutUs-content .about-content-sm .aboutUs-head3 {
    font-family: quantifyRegular;
    text-transform: uppercase;
    font-size: 70px;
}

.aboutUs .aboutUs-container .aboutUs-content .aboutUs-para {
    font-size: 16px;
    font-family: satochi;
    max-width: 400px;
}

/* services section */

.services {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0;
}

.services .ser-head-div,
.reviews .reviews-head-div,
.form .form-head-div {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.services .ser-head-div .services-stroke-head,
.reviews .reviews-head-div .reviews-stroke-head,
.form .form-head-div .form-stroke-head {
    font-size: 120px;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.082);
    color: transparent;
    font-family: quantifyRegular;
    text-align: center;
    font-weight: 900;
}

.services .ser-head-div .services-head,
.reviews .reviews-head-div .reviews-head,
.form .form-head-div .form-head {
    font-family: quantifyRegular;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 45px;
    width: 100%;
}

.services .services-para,
.reviews .reviews-para,
.form .form-para {
    font-family: satochi;
    text-align: center;
    margin-bottom: 40px;
    max-width: 400px;
}

.services .services-boxes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 0 120px;
}

.services .services-boxes .services-box {
    width: 33%;
}

.services .services-boxes .services-box .ser-img1 {
    width: 100%;
}

.services .services-boxes .services-box .ser-box-head {
    font-weight: 900;
    font-family: satochi;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 100%;
}

.services .services-boxes .services-box .ser-box-para {
    font-size: 16px;
    font-family: satochi;
    margin-bottom: 10px;
    color: #676767;
    max-width: 350px;
    width: 100%;
}

.services .services-boxes .services-box .readMore {
    font-family: satochi;
    font-size: 16px;
    color: black;
    display: flex;
    align-items: center;
}

.services .services-boxes .services-box .ser-arrow-span {
    margin-left: 10px;
    margin-top: 9px;
}

/* states section  */

.states {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(169, 0, 87, 1) 0%, rgba(107, 0, 149, 1) 56%);
    gap: 170px;
    padding: 30px;
}

.states .states-head {
    font-size: 40px;
    color: white;
    font-family: satochi;
    font-weight: 900;
}

.states .states-para {
    font-size: 16px;
    color: white;
    font-family: satochi;
    font-weight: 100;
    max-width: 160px;
}

/* reviews / slider section */

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f6e0ff49;
    padding: 60px 0;
}

.reviews .rev-slider {
    width: 100%;
    padding: 0px 160px 50px 160px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.swiper,
.mySwiper {
    width: 100% !important;
    padding-bottom: 50px !important;
}

.swiper-slide {
    background-color: #fff !important;
    height: 330px !important;
    padding: 40px;
    margin: 0;
    border-radius: 20px;
    font-family: "Poppins", sans-serif !important;
}

.swiper-slide .slider-top {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.swiper-slide .slider-top .sl-top-img {
    margin-right: 20px;
}

.swiper-slide .slider-top .sl-top-content {}

.swiper-slide .slider-top .sl-top-content .sl-top-pr-name {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}

.swiper-slide .slider-top .sl-top-content .sl-top-rev {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.swiper-slide .slider-top .sl-top-content .sl-top-rev .sl-top-para {
    margin-left: 10px;
}

.swiper-scrollbar {
    width: 10% !important;
    opacity: 1 !important;
    background: #DFDFDF !important;
    margin-top: 30px !important;
}

.swiper-scrollbar-drag {
    background: #A3015D !important;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

/* form section */

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 80px 0;
}

.form .form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.form .form-head-div .form-head {
    font-family: quantifyRegular;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 45px;
    width: 100%;
}

.form .form-head-div {
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.form .form-section {
    width: 100%;
    padding: 0 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form .msg-box {
    background: linear-gradient(330deg, #F6E0FF 0%, #FFE0F0 100%);
    border-radius: 50px;
    padding: 20px 35px;
    align-items: center;
    margin-bottom: 12px;
    border: 2px solid #f7c9e1;
    width: 100%;
    display: none;
}

.form .msg-box .msg {
    color: #000;
    font-size: 20px;
    font-family: satochi;
    margin-left: 20px;
}

.form .form-section .input-box {
    width: 100%;
    border: 2px solid #dddddd;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 10px 35px;
    margin-bottom: 12px;
}

.form .form-section .textarea-box {
    align-items: start;
    padding: 30px 35px;
    width: 100%;
}

.form .form-section .input-box .input {
    width: 100%;
    padding: 25px 10px;
    font-size: 16px;
    color: black;
    font-family: satochi;
    border: 0;
    outline: 0;
}

.form .form-section .input-box .textarea {
    border: 0;
    outline: 0;
    font-size: 16px;
    color: black;
    font-family: satochi;
    width: 100%;
    margin-left: 10px;
}

.form .form-section .input-box .input::placeholder,
.form .form-section .input-box .textarea::placeholder {
    color: #000;
}

.form .form-btn {
    margin-top: 12px;
}

.footer {
    width: 100%;
    background: linear-gradient(330deg, rgba(107, 0, 149, 1) 0%, rgba(169, 0, 87, 1) 100%);
    padding: 90px;
}

.footer .footer-main-con {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 90px;
}

.footer .footer-content .footer-content {}

.footer .footer-main-con .footer-content .logo {
    color: white;
    margin-bottom: 30px;
}

.footer-content .footer-para {
    font-size: 16px;
    color: white;
    font-family: satochi;
    font-weight: 100;
    margin-bottom: 20px;
}

.footer-content .socila-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-content .footer-head2 {
    font-family: satochi;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 30px;
}

.footer-content .footer-links .link {
    list-style-type: none;
    margin-bottom: 15px;
}

.footer-content .footer-links .link .footer-anchor {
    text-decoration: none;
    color: #fff;
    font-family: satochi;
    font-weight: 100;
}

.footer .footer-hr {
    border: 1px solid #ffffff48;
    margin: 50px 0;
}

.footer .footer-refrence {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer-refrence .ref-para {
    color: #fff;
    font-style: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.footer .footer-refrence .ref-span,
.footer .footer-refrence .ref-anchor {
    color: #fff;
    font-family: satochi;
    font-style: 16px;
    text-decoration: none;
}

@media screen and (min-width: 480px) and (max-width:768px) {

    body {
        /* background-color: aqua; */
    }

    .header-section {
        margin-bottom: 20px;
    }

    .header-section .left {
        width: 100%;
        padding: 0 30px;
    }

    .header-section .left .hero .hero-text .small-star {
        margin-bottom: 20px;
    }

    .header-section .right {
        display: none;
    }

    .header-section .nav {
        padding: 25px 0;
    }

    .nav .nav-menu {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 30px;
        padding: 40px 20px;
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0px;
        right: -300px;
        z-index: 12;
        background-color: white;
        transition: all 0.3s;
        filter: drop-shadow(-5px 4px 9px #c2c2c2);
    }

    .nav-menu.active {
        right: 0;
    }

    #close {
        display: block;
        padding: 10px;
        background: linear-gradient(330deg, rgba(107, 0, 149, 1) 0%, rgba(169, 0, 87, 1) 100%);
        color: white;
    }

    #nav-menu {
        padding: 10px;
        background: linear-gradient(330deg, rgba(107, 0, 149, 1) 0%, rgba(169, 0, 87, 1) 100%);
        color: white;
    }

    .mbl {
        display: block;
    }

    .transparent {
        display: none;
    }

    .header-section .hero .hero-text {
        width: 100%;
    }

    .header-section .hero .hero-img {
        display: none;
    }

    .header-section .hero .hero-text .top-para {
        font-size: 20px;
    }

    .header-section .hero .hero-text .hero-head,
    .header-section .hero .hero-text .hero-head-2,
    .header-section .hero .hero-text .hero-head-3 {
        font-size: 55px;
        margin-bottom: 10px;
    }

    .header-section .hero .hero-text .hero-para {
        max-width: 460px;
        font-size: 22px;
    }

    /* sponserd section  */

    .sponserd {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 50px;
        gap: 20px;
    }

    .sponserd-name {
        width: 20%;
    }

    /* services section */

    .services {
        padding: 30px 0;
    }

    .services .ser-head-div .services-stroke-head,
    .reviews .reviews-head-div .reviews-stroke-head,
    .form .form-head-div .form-stroke-head {
        font-size: 100px;
        -webkit-text-stroke: 2px rgba(0, 0, 0, 0.144);
    }

    .services .ser-head-div .services-head,
    .reviews .reviews-head-div .reviews-head,
    .form .form-head-div .form-head {
        font-size: 50px;
    }

    .services .services-para,
    .reviews .reviews-para,
    .form .form-para {
        font-size: 20px;
        margin-bottom: 30px;
        max-width: 500px;
    }

    .services .services-boxes {
        align-items: start;
        flex-direction: column;
        padding: 0 30px;

    }

    .services .services-boxes .services-box {
        width: 100%;
        text-align: center;
    }

    .services .services-boxes .services-box .ser-box-head {
        font-size: 30px;
    }

    .services .services-boxes .services-box .readMore {
        justify-content: center;
        font-size: 20px;
    }

    .services .services-boxes .services-box .ser-box-para {
        max-width: 100%;
        font-size: 20px;
    }

    /* state section */

    .states {
        align-items: start;
        justify-content: space-between;
        gap: 30px;
    }

    .states .states-container {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
    }

    .states .states-head {
        margin-right: 20px;
    }

    /* .reviews and slider section */

    .reviews{
        padding: 10px 0;
    }

    .reviews .rev-content {
        padding: 20px;
    }

    .reviews .rev-slider {
        padding: 0px 20px 20px 20px !important;
    }

    .swiper-scrollbar {
        display: none;
    }

    /* form section  */

    .form .form-content{
        padding: 20px;
    }

    .form .form-head-div .form-stroke-head{
        font-size: 80px;
    }

    .form .form-head-div .form-head {
        font-size: 30px;
    }

    .form .form-section {
        padding: 0 30px;
    }

}

@media (max-width: 479px) {
    body {
        background-color: rgb(51, 255, 0);
    }
}